# This workflow runs repo2docker to check if this repository is a valid binder repo
name: Validator

on:
  pull_request:
    branches: [main]

jobs:
  repo2docker:
    name: Run repo2docker
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup Miniconda
        uses: conda-incubator/setup-miniconda@835234971496cad1653abb28a638a281cf32541f # v3.2.0
        with:
          activate-environment: try-gmt
          conda-remove-defaults: "true"
          conda-solver: libmamba
          environment-file: environment.yml
          miniforge-version: latest

      - name: Install dependencies
        shell: bash -l {0}
        run: conda install jupyter-repo2docker

      - name: Show installed package
        shell: bash -l {0}
        run: conda list

      - name: Run repo2docker
        shell: bash -l {0}
        run: jupyter-repo2docker --no-run --ref ${{ github.event.pull_request.head.sha }} https://github.com/${{ github.event.pull_request.head.repo.full_name }}
