# This workflow runs repo2docker to check if this repository is a valid binder repo
name: Validator

on:
  pull_request:
    branches: [main]

jobs:
  repo2docker:
    name: Run repo2docker
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup Miniconda
        uses: conda-incubator/setup-miniconda@835234971496cad1653abb28a638a281cf32541f # v3.2.0
        with:
          conda-remove-defaults: "true"
          miniforge-version: latest
          use-mamba: true

      - name: Install repo2docker
        run: mamba install jupyter-repo2docker

      - name: Show installed packages
        run: mamba list

      - name: Run repo2docker
        run: jupyter-repo2docker --no-run --ref ${{ github.event.pull_request.head.sha }} https://github.com/${{ github.event.pull_request.head.repo.full_name }}
